* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: Arial, sans-serif;
	background-color: #e0e4e8;
	color: #333;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.container {
	height: 55%;
	width: 40%;

	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 50px;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

h1 {
	color: #265083;
	margin-bottom: 20px;
	font-size: 32px;
}

p {
	margin: 15px;
	font-size: 20px;
}

form {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

label {
	height: 10%;
	margin-bottom: 10px;
	font-weight: bold;
	color: #265083;
	font-size: 18px;
}

input[type="file"] {
	height: 10%;
	margin-bottom: 10px;
	font-size: 16px;
	box-sizing: border-box;
}

button {
	background-color: #265083;
	color: white;
	border: none;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	width: 60%;
	box-sizing: border-box;
}

.fotoReg {
	height: 70%;
	width: 30%;
	padding: 30px;

	display: flex;
	justify-content: center;

	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
	object-fit: contain;
}

a {
	text-align: center;
	height: 30px;
	background-color: #265083;
	width: 20%;
	border-radius: 5px;
	cursor: pointer;

	color: white;
	padding-top: 10px;
	text-decoration: none;
}

button:hover {
	background-color: #1f3d66;
}

@media (max-width: 600px) {
	.container {
		width: 80%;
		height: 95%;
		padding: 5px;
		margin-bottom: 15px;
	}

	h1 {
		font-size: 25px;
	}

	p,
	label {
		font-size: 15px;
	}

	form {
		height: 30%;
	}

	input[type="file"] {
		margin-bottom: 0px;
		font-size: 15px;
	}

	button {
		margin-top: 15px;
		font-size: 15px;
		width: auto;
	}
}