body {
    font-family: Arial, sans-serif;
    background-color: #e0e4e8;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #265083;
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
}

video {
    border: 2px solid #265083;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

button {
    background-color: #265083;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #1f3d66;
}

#sourceSelectPanel {
    margin-top: 20px;
    text-align: center;
}

label {
    font-size: 18px;
    color: #265083;
    font-weight: bold;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
}