* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: Arial, sans-serif;
	background-color: #e0e4e8;
	color: #333;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

nav{
	background-color: white;
	border-radius: 10px;
    height: 15%;
    display: flex;
    flex-direction: row;
    position: absolute;
	top: 0;
    left: 0;
}

img{
    max-height: 100%;
}

.container {
	height: 55%;
	width: 40%;

	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 50px;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

h1 {
	color: #265083;
	margin-bottom: 20px;
	font-size: 32px;
}

p {
	margin: 15px;
	font-size: 20px;
}

form {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column; /* Cambiado a columna para apilar verticalmente */
	flex-wrap: wrap;
	align-items: center; /* Centra los elementos horizontalmente */
	width: 90%; /* Asegura que el formulario ocupe el ancho completo */
}

label {
	margin-bottom: 10px;
	font-weight: bold;
	color: #265083;
	font-size: 18px;
	width: 100%; /* Hace que los labels ocupen el ancho completo del contenedor */
	text-align: center; /* Centra el texto del label */
}

input[type="file"] {
	margin-bottom: 10px;
	font-size: 16px;
	width: 100%; /* Hace que el input ocupe el ancho completo del contenedor */
}

button {
	background-color: #265083;
	color: white;
	border: none;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	width: 60%; /* Controla el ancho del botón */
	margin-top: 10px; /* Añade un poco de espacio superior */
}

.fotoReg {
	height: 70%;
	width: 30%;
	padding: 30px;

	display: flex;
	justify-content: center;

	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
	object-fit: contain;
}

a {
	text-align: center;
	height: 30px;
	background-color: #265083;
	width: 20%;
	border-radius: 5px;
	cursor: pointer;

	color: white;
	padding-top: 10px;
	text-decoration: none;
}

button:hover {
	background-color: #1f3d66;
}

@media (max-width: 600px) {
	body{
		flex-direction: column;
		flex-wrap: nowrap;
	}
	nav{
		background-color: unset;
        height: 10%;
        position: unset;
    }

	.container {
		width: 80%;
		height: 95%;
		padding: 5px;
		margin-bottom: 15px;
	}

	h1 {
		font-size: 25px;
	}

	p,
	label {
		font-size: 15px;
	}

	form {
		height: 30%;
	}

	input[type="file"] {
		margin-bottom: 0px;
		font-size: 15px;
	}

	button {
		margin-top: 15px;
		font-size: 15px;
		width: 40%;
	}
	a{
		width: 50%;
	}
}