{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ZXing for JS">

    <title>ScanGate</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
  <h1>SCANGATE</h1>
  <video id="video"></video>
  <button id="startButton">Escanear</button>

  <script type="text/javascript" src="https://unpkg.com/@zxing/library@latest/umd/index.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>